
.container {
  /*padding: 0;*/
  height: 100%;
}
.container div {
  text-align: center;
}

.container div:first-child {
  border-radius: 10px 10px 0 0;
}

.container div:last-child {
  border-radius: 0 0 10px 10px;
}
